// COLORS

$color-primary: #FFDC22;
$color-primary-light: #F1E151;

$color-black: #000;
$color-white: #FFF;

$color-grey-light: #D6D6D6;
$color-grey-light-2: #E8E8E8;
$color-grey-darker: #292929;
$color-grey-dark: #353535;
$color-grey-dark-2: #666;
$color-grey-dark-3: #7B7B7B;

// GRID

$grid-width: 114rem; 
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT

$default-font-size: 1.6rem;