
#app[data-v-64c33e] {
  box-sizing: border-box;
  width: 500px;
  padding: 0 20px 20px;
  margin: 0 auto;
}
hr[data-v-64c33e] {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a[data-v-64c33e] {
  color: #39b982;
  font-weight: 600;
  background-color: transparent;
}
img[data-v-64c33e] {
  border-style: none;
  width: 100%;
}
h1[data-v-64c33e],
h2[data-v-64c33e],
h3[data-v-64c33e],
h4[data-v-64c33e],
h5[data-v-64c33e],
h6[data-v-64c33e] {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
h1[data-v-64c33e] {
  font-size: 50px;
  font-weight: 700;
}
h2[data-v-64c33e] {
  font-size: 38px;
  font-weight: 700;
}
h3[data-v-64c33e] {
  font-size: 28px;
  font-weight: 700;
}
h4[data-v-64c33e] {
  font-size: 21px;
  font-weight: 700;
}
h5[data-v-64c33e] {
  font-size: 16px;
  font-weight: 700;
}
h6[data-v-64c33e] {
  font-size: 15px;
  font-weight: 700;
}
b[data-v-64c33e],
strong[data-v-64c33e] {
  font-weight: bolder;
}
small[data-v-64c33e] {
  font-size: 80%;
}
.eyebrow[data-v-64c33e] {
  font-size: 20px;
}
.-text-primary[data-v-64c33e] {
  color: #39b982;
}
.-text-base[data-v-64c33e] {
  color: #000;
}
.-text-error[data-v-64c33e] {
  color: tomato;
}
.-text-gray[data-v-64c33e] {
  color: rgba(0, 0, 0, 0.5);
}
.-shadow[data-v-64c33e] {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}
.badge[data-v-64c33e] {
  display: inline-flex;
  height: 26px;
  width: auto;
  padding: 0 7px;
  margin: 0 5px;
  background: transparent;
  border-radius: 13px;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}
.badge.-fill-gradient[data-v-64c33e] {
  background: linear-gradient(to right, #16c0b0, #84cf6a);
  color: #fff;
}
button[data-v-64c33e],
label[data-v-64c33e],
input[data-v-64c33e],
optgroup[data-v-64c33e],
select[data-v-64c33e],
textarea[data-v-64c33e] {
  display: inline-flex;
  font-family: "Open sans", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button[data-v-64c33e],
input[data-v-64c33e] {
  overflow: visible;
}
button[data-v-64c33e],
select[data-v-64c33e] {
  text-transform: none;
}
button[data-v-64c33e],
[type="button"][data-v-64c33e],
[type="reset"][data-v-64c33e],
[type="submit"][data-v-64c33e] {
  -webkit-appearance: none;
}
button[data-v-64c33e]::-moz-focus-inner,
[type="button"][data-v-64c33e]::-moz-focus-inner,
[type="reset"][data-v-64c33e]::-moz-focus-inner,
[type="submit"][data-v-64c33e]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button[data-v-64c33e]:-moz-focusring,
[type="button"][data-v-64c33e]:-moz-focusring,
[type="reset"][data-v-64c33e]:-moz-focusring,
[type="submit"][data-v-64c33e]:-moz-focusring {
  outline: 2px solid #39b982;
}
label[data-v-64c33e] {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
input[data-v-64c33e],
textarea[data-v-64c33e] {
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.4);
}
input.error[data-v-64c33e],
select.error[data-v-64c33e] {
  margin-bottom: 0;
}
input + p.errorMessage[data-v-64c33e] {
  margin-bottom: 24px;
}
textarea[data-v-64c33e] {
  width: 100%;
  overflow: auto;
  font-size: 20px;
}
[type="checkbox"][data-v-64c33e],
[type="radio"][data-v-64c33e] {
  box-sizing: border-box;
  padding: 0;
  margin-right: 0.5rem;
}
[type="number"][data-v-64c33e]::-webkit-inner-spin-button,
[type="number"][data-v-64c33e]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"][data-v-64c33e] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"][data-v-64c33e]::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type="text"][data-v-64c33e],
[type="number"][data-v-64c33e],
[type="search"][data-v-64c33e],
[type="password"][data-v-64c33e] {
  height: 52px;
  width: 100%;
  padding: 0 10px;
  font-size: 20px;
}
[type="text"][data-v-64c33e]:focus,
[type="number"][data-v-64c33e]:focus,
[type="search"][data-v-64c33e]:focus,
[type="password"][data-v-64c33e]:focus {
  border-color: #39b982;
}
[data-v-64c33e]::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden][data-v-64c33e] {
  display: none;
}
.error[data-v-64c33e] {
  border: 1px solid red;
}
select[data-v-64c33e] {
  width: 100%;
  height: 52px;
  padding: 0 24px 0 10px;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 12px center;
  background-size: 8px 10px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select[data-v-64c33e]:focus {
  border-color: #39b982;
  outline: 0;
}
select[data-v-64c33e]:focus::ms-value {
  color: #000;
  background: #fff;
}
select[data-v-64c33e]::ms-expand {
  opacity: 0;
}
.field[data-v-64c33e] {
  margin-bottom: 24px;
}
.error[data-v-64c33e] {
  border: 1px solid red;
}
.errorMessage[data-v-64c33e] {
  color: red;
}
.button[data-v-64c33e] {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 40px;
  background: transparent;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.2s linear;
}
.button[data-v-64c33e]:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button[data-v-64c33e]:active {
  -webkit-transform: scale(1);
  transform: scale(1);
  box-shadow: none;
}
.button[data-v-64c33e]:focus {
  outline: 0;
}
.button[data-v-64c33e]:disabled {
  -webkit-transform: scale(1);
  transform: scale(1);
  box-shadow: none;
}
.button + .button[data-v-64c33e] {
  margin-left: 1em;
}
.button.-fill-gradient[data-v-64c33e] {
  background: linear-gradient(to right, #16c0b0, #84cf6a);
  color: #ffffff;
}
.button.-fill-gray[data-v-64c33e] {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.button.-size-small[data-v-64c33e] {
  height: 32px;
}
.button.-icon-right[data-v-64c33e] {
  text-align: left;
  padding: 0 20px;
}
.button.-icon-right > .icon[data-v-64c33e] {
  margin-left: 10px;
}
.button.-icon-left[data-v-64c33e] {
  text-align: right;
  padding: 0 20px;
}
.button.-icon-left > .icon[data-v-64c33e] {
  margin-right: 10px;
}
.button.-icon-center[data-v-64c33e] {
  padding: 0 20px;
}

/*# sourceMappingURL=index.css.map */
