<div class="heading-container">
<h1 class="page-title">Articles de presse - Ajouter un article</h1>
<a href="/admin/presse/articles" class="small-btn-text">Retour à la liste</a>
</div>
<div class="main-container">
    <form action="/admin/presse/article/ajouter" class="back-form" method="POST">
      <div class="mb-3">
        <label for="url">URL :</label>
        <input type="text" class="form-control" id="url" name="url">
      </div>
      <div class="mb-3">
        <label for="extract">Extrait d'article :</label>
        <textarea class="form-control" id="extract" name="extract"></textarea>
      </div>
      <div class="mb-3">
        <label for="auteur">Auteur :</label>
        <input type="text" class="form-control" id="auteur" name="auteur">
      </div>
      <div class="mb-3">
        <label for="date_article">Date d'article :</label>
        <input type="text" class="form-control" id="date_article" name="date_article">
      </div>
      <div class="mb-3">
        <label for="description">Description :</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <button type="submit" class="form-btn">Ajouter</button>
    </form>
</div>
