.contact-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  background-color: $color-grey-light-2;
}

#app {
  min-width: 768px;
  max-width: 1200px;

  @include respond(tab-port) {
    min-width: inherit;
    max-width: inherit;
    width: 90%;
  }
}

.btn--send {
  float: right;
}

.contact_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  text-align: left;
  font-size: 1.8rem;
  width: 90%;

  @include respond(tab-port) {
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .colored-letter {
    font-weight: 600;
    color: $color-black;
    margin-right: 1vw;
    width: 40%;
    text-align: right;
    display: inline-block;

    @include respond(tab-port) {
      width: 22%;
    }
  }

  .contact-info-container {
    display: inline-block;
  }

  .address,
  .mobile,
  .phone,
  .email {
    width: 100%;
    display: flex;
  }

  .footer-text-link {
    text-decoration: none;
    color: $color-grey-dark;
  }
}

.confirmation_container {
  text-align: center;
  font-size: 1.8rem;

  h2 {
    font-size: 2.4rem;
  }

  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-weight: 300;
      font-size: 1.6rem;
    }
    &:hover,
    &:active {
      color: inherit;
      text-decoration: underline;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}

.input-error-style {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-weight: 600;
}

.error-message-box {
  display: block;
  background-color: rgba($color: #ff0000, $alpha: 0.7);
  border: 1px solid #bc0000;
  padding: 5px 10px;
  width: 90%;
  margin: 1.5rem auto;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
