.bandeau {
  height: 95vh;
  background: url('../img/image_bandeau@2x.webp');
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  &_title {
    color: $color-primary;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20vh;

    @include respond(tab-port) {
      font-size: 4rem;
    }
  }

  &_arrow {
    margin-bottom: 10vh;
  }
}

.presentation {
  display: flex;
  min-width: 768px;
  max-width: 1200px;
  // background-color: red;
  margin: 0 auto;
  padding: 100px 20px;
  flex-direction: row;
  justify-content: center;

  @include respond(tab-port) {
    flex-direction: column;
    min-width: inherit;
    max-width: inherit;
    padding: 50px 20px;
  }

  &_left {
    margin-right: 40px;
    width: 40%;

    @include respond(tab-port) {
      margin-right: 0;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

.presentation_subtitle {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 3vh;

  @include respond(tab-port) {
    font-size: 3rem;
    margin-top: 3vh;
  }
}

.presentation_text {
  font-size: 18px;
  margin-bottom: 2vw;
  padding-right: 20px;

  @include respond(tab-land) {
    font-size: 14px;
    margin-bottom: 20px;
    /* padding-right: 20px; */
    width: inherit;
  }
}

.cta {
  width: 100%;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
  display: block;
  border-top: 1px solid $color-grey-light-2;
  border-bottom: 1px solid $color-grey-light-2;
  padding: 5vh 0;

  @include respond(tab-port) {
    font-size: 2.4rem;
  }
}

.cta a {
  text-decoration: none;
  font-weight: 600;
  color: $color-grey-dark;
  display: inline-block;
  background-color: $color-primary;
  padding: 2vh 2vw;
  margin: 1vw;
}

.cta-gras {
  font-weight: 600;
}

.domaines h2 {
  width: 100%;
  font-weight: 300;
  font-size: 3.6rem;
  text-align: center;
  display: block;
  border-top: 1px solid $color-grey-light-2;
  border-bottom: 1px solid $color-grey-light-2;
  padding: 10vh 0;

  @include respond(phone) {
    padding: 6vh 1vw;
    font-size: 3.1rem;
  }
}

.domains_cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh 0;
  max-width: 1440px;
  margin: 0 auto;
}

.domain_card {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-grey-dark;
    font-weight: 300;
    font-size: 1.6rem;
  }
  &:hover,
  &:active {
    color: $color-grey-dark;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: $color-primary;
  }

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
  height: 330px;
  padding: 20px 10px;
  align-items: center;

  @include respond(tab-port) {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
    margin-bottom: 10px;
  }

  &_icon_container {
    width: 150px;
    height: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    /* padding: 40px; */
    border: 1px solid $color-grey-light;
    background-color: $color-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_icon {
    width: 60px;
  }

  &_text {
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
      font-weight: 300;
      font-size: 1.6rem;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }
    &:hover,
    &:active {
      text-decoration: none;
      color: $color-grey-dark;
      font-weight: 600;
      font-size: 1.6rem;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }
  }
}

.confiance {
  width: 100%;
  font-weight: 300;
  font-size: 2.2rem;
  text-align: center;
  display: block;
  padding: 10vh 20vw;
  background-color: $color-primary;

  @include respond(phone) {
    padding: 5vh 5vw;
  }
}
