.main_internal_page_bandeau {
  height: 60vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8vh 0;

  &_icon {
    width: 4vw;
    fill: $color-grey-dark;
  }

  &_title {
    font-size: 4.8rem;
    font-weight: 600;
    width: 60vw;
    text-align: center;
  }

  &_intro {
    font-size: 1.6rem;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
  }
}

.main_internal_page_text {
  font-size: 1.6rem;
  width: 50vw;
  margin: 0 auto;
  padding: 10vh 0;

  li {
    margin-left: 40px;
  }
}
