.main_internal_page_bandeau {
  height: 60vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8vh 0;

  @include respond(tab-port) {
    height: 40vh;
  }

  &_icon {
    width: 4vw;
    fill: $color-grey-dark;

    @include respond(tab-port) {
      width: 6vw;
    }
    @include respond(phone) {
      width: 10vw;
    }
  }

  &_title {
    font-size: 4.8rem;
    font-weight: 600;
    width: 60vw;
    text-align: center;

    @include respond(tab-port) {
      font-size: 2.8rem;
      width: auto;
      margin-bottom: 20px;
    }
  }

  &_intro {
    font-size: 1.6rem;
    width: 40vw;
    margin: 0 auto;
    text-align: center;

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(tab-port) {
      width: 90%;
    }
  }
}

.main_internal_page_text {
  font-size: 1.6rem;
  width: 50vw;
  margin: 0 auto;
  padding: 10vh 0;

  @include respond(tab-port) {
    width: 90%;
  }

  li {
    margin-left: 40px;
  }
}
