.parcours_presentation {
  display: flex;
  min-width: 768px;
  max-width: 1200px;
  // background-color: red;
  margin: 0 auto;
  padding: 100px 20px;
  flex-direction: column;
  justify-content: center;

  @include respond(tab-port) {
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    min-width: inherit;
    max-width: inherit;
  }

  &_title h2{
    font-size: 3.6rem;
    font-weight: 300;
    padding: 7vh 0;
    width: 100%;
    text-align: center;

    @include respond(tab-port) {
      font-size: 2.8rem;
      width: auto;
      margin-bottom: 20px;
    }
  }

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &_left {
      margin-right: 40px;
      width: 40%;

      @include respond(tab-port) {
        margin-bottom: 20px;
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

.parcours_presentation_subtitle {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 3vh;
}

.parcours_presentation_text {
  font-size: 18px;
  padding-right: 20px;

  @include respond(tab-land) {
    font-size: 14px;
  }
}
