<section class="main_internal_page_bandeau">
  <h1 class="main_internal_page_bandeau_title">{{{ page_title }}}</h1>
  <p class="main_internal_page_bandeau_intro">
    {{{ page_intro }}}
  </p>
</section>
<section class="parcours_presentation">
  <div class="parcours_presentation_content">
    <div class="parcours_presentation_content_left">
      <img srcset="img/photo_yvan_bonet@1x.webp 300w, img/photo_yvan_bonet@1x.webp 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="/img/photo_yvan_bonet@1x.webp">
    </div>
    <div class="parcours_presentation_content_right">
      <div class="parcours_presentation_text">
        <h2>Yvan BONET</h2>
        <p>{{{ page_text }}}</p>
      </div>
    </div>
  </div>
  <div class="parcours_presentation_content">
    <div class="parcours_presentation_content_left">
      <img srcset="img/photo_hugo_daquin@1x.webp 300w, img/photo_hugo_daquin@1x.webp 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Hugo DAQUIN" class="" src="/img/photo_hugo_daquin@1x.webp">
    </div>
    <div class="parcours_presentation_content_right">  
      <div class="parcours_presentation_text">
        <h2>Hugo DAQUIN</h2>
        <p>
        Maître Hugo DAQUIN est titulaire d’un Master 1 en Droit privé général de l’Université Paris I-
        Panthéon Sorbonne et d’un Master 2 en Droit pénal approfondi (Major de promotion) de
        l’Université de Montpellier.<br /><br />
        Il a acquis une expérience auprès de plusieurs magistrats de la Cour d’appel de Paris puis auprès
        du parquet du Tribunal judiciaire de Bobigny.<br /><br />
        Avant de rejoindre le cabinet en 2024 en tant que collaborateur, Hugo DAQUIN a exercé au sein
        d’un cabinet pénaliste réputé.<br /><br />
        Il parle anglais et espagnol.
        </p>
      </div>
    </div>
  </div>
  <div class="parcours_presentation_content">
    <div class="parcours_presentation_text">
      <h2>Nicolas CLOT</h2>
      <p>
      <a href="https://clot-avocat.fr" target="_blank">Maître Nicolas CLOT</a> est inscrit aux Barreaux de Bordeaux et Paris et exerce en partenariat avec
      le cabinet BONET.<br /><br />
      A l’instar du cabinet BONET, il dédie son activité au droit pénal.
      Lorsque les procédures le justifient, les deux cabinets peuvent être amenés à réunir leurs
      expertises et expériences.
      </p>
    </div>
  </div>
</section>
{{> sectionUrgencePenale }}
{{> sectionConfiance }} 