<section class="bandeau">
    <h1 class="bandeau_title">Défense pénale<br>& contentieux</h1>
    <svg class="bandeau_arrow" width="12" height="37" viewBox="0 0 12 37" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
        <title>Scroller pour accéder à la suite</title>
        <line x1="6" y1="1" x2="6" y2="36" stroke="#FFDC22" stroke-width="2" stroke-linecap="round"/>
        <path d="M11 31L6 36L1 31" stroke="#FFDC22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</section>
<section class="presentation">
  <div class="presentation_left">
    <img srcset="img/photo_yvan_bonet@1x.webp 300w, img/photo_yvan_bonet@2x.webp 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/photo_yvan_bonet@2x.webp">
  </div>
  <div class="presentation_right">
    <h2 class="presentation_subtitle">Yvan BONET</h2>
    <p class="presentation_text">conseille ses clients et les assiste devant l’ensemble des juridictions et instances de France tout en apportant une défense réactive, humaine et efficace dans le respect des règles déontologiques de la profession d’avocat.</p>
    <a href="/parcours" class="btn-text">Découvrir son parcours <img src="img/fleche.svg" class="btn-text_arrow" alt="Découvrir son parcours"></a>
  </div>
</section>
{{> sectionUrgencePenale }}
<section class="domaines">
  <h2>Domaines d'<span class="cta-gras">interventions</span></h2>
  <div class="domains_cards_container">
      <a href="/domaines-interventions/garde-a-vue" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/garde_a_vue.svg" alt="Garde à vue" class="domain_card_icon"></div>
        <span class="domain_card_text">Garde à vue</span>
      </a>
      <a href="/domaines-interventions/comparution-immediate" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/comparution_immediate.svg" alt="Comparution immédiate" class="domain_card_icon"></div>
        <span class="domain_card_text">Comparution immédiate</span>
      </a>
      <a href="/domaines-interventions/comparution-sur-reconnaissance-prealable-de-culpabilite" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/crpc.svg" alt="Comparution sur reconnaissance préalable de culpabilité" class="domain_card_icon"></div>
        <span class="domain_card_text">Comparution sur reconnaissance préalable de culpabilité</span>
      </a>
      <a href="/domaines-interventions/tribunal-correctionel" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/tribunal_correctionel.svg" alt="Tribunal correctionnel" class="domain_card_icon"></div>
        <span class="domain_card_text">Tribunal correctionnel</span>
      </a>
      <a href="/domaines-interventions/contentieux-disciplinaire-adminitratif" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/contentieux.svg" alt="Contentieux disciplinaire et adminitratif" class="domain_card_icon"></div>
        <span class="domain_card_text">Contentieux disciplinaire et adminitratif</span>
      </a>
      <a href="/domaines-interventions/mise-en-examen" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/mise_en_examen.svg" alt="Mise en examen" class="domain_card_icon"></div>
        <span class="domain_card_text">Mise en examen</span>
      </a>
      <a href="/domaines-interventions/detention-provisoire" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/detention_provisoire.svg" alt="Détention provisoire" class="domain_card_icon"></div>
        <span class="domain_card_text">Détention provisoire</span>
      </a>
      <a href="/domaines-interventions/amenagement-de-peine" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/amenagement_peine.svg" alt="Aménagement de peine" class="domain_card_icon"></div>
        <span class="domain_card_text">Aménagement de peine</span>
      </a>
      <a href="/domaines-interventions/cour-d-assises" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/cour_assises.svg" alt="Cour d'assises" class="domain_card_icon"></div>
        <span class="domain_card_text">Cour d'assises</span>
      </a>
      <a href="/domaines-interventions/droit-penitentiaire" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/droit_penitentiaire.svg" alt="Droit pénitentiaire" class="domain_card_icon"></div>
        <span class="domain_card_text">Droit pénitentiaire</span>
      </a>
  </div>
</section>
{{> sectionConfiance }}