
    <section class="bandeau">
      <h1>Défense pénale & contentieux</h1>
    </section>
    <section class="presentation">
      {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
      <h2>Yvan BONET</h2>
      <p>conseille ses clients et les assiste devant l’ensemble des juridictions et instances de France tout en apportant une défense réactive, humaine et efficace dans le respect des règles déontologiques de la profession d’avocat.</p>
      <a href="#">Découvrir son parcours</a>
    </section>
    <section class="cta">
      <p>Pour toute urgence pénale, veuillez contacter le <a href="tel:+33624132157" class="cta-phone">06 24 13 21 57</a></p>
    </section>
    <section class="domaines">
      <h2>Domaines d'interventions</h2>
      <div class="domains_cards_container">
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Garde à vue</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Comparution immédiate</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Comparution sur reconnaissance préalable de culpabilité</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Tribunal correctionnel</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Contentieux disciplinaire et adminitratif</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Mise en examen</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Détention provisoire</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Aménagement de peine</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Cour d'assises</span>
          </a>
        </div>
        <div class="domain_card">
          <a href="#">
            {{!-- <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png"> --}}
            <span>Droit pénitentiaire</span>
          </a>
        </div>
      </div>
    </section>
    <section class="confiance">
      <p>Le lien de confiance réciproque entre le client et l’avocat étant une condition indispensable à la réussite d’une défense, Yvan BONET n’accepte les différentes sollicitations qu’à l’issue d’un premier entretien.</p>
    </section>
