<section class="main_internal_page_bandeau">
  <h1 class="main_internal_page_bandeau_title">{{{ page_title }}}</h1>
</section>
<div class="main_internal_page_text">
  {{{ page_text }}}
</div>
{{> sectionUrgencePenale }}
{{> sectionConfiance }}