</main>
  <footer>
    <img srcset="img/logo_footer.png 300w, img/logo_footer-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo_footer-large.png">
    <div class="social_medias">
      <a href="#">
        <img srcset="img/linkedin_icon.png 300w, img/linkedin_icon-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="LinkedIn Yvan BONET" class="" src="img/linkedin_icon-large.png">
      </a>
      <a href="#">
        <img srcset="img/twitter_icon.png 300w, img/twitter_icon-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="LinkedIn Yvan BONET" class="" src="img/twitter_icon-large.png">
      </a>
    </div>
    <p>Pour toute urgence pénale, veuillez contacter le <a href="tel:+33624132157">06 24 13 21 57</a></p>
    <p>Pour toute demande en droit du travail, droit des étrangers, droit de la famille ou droit des affaires, le cabinet vous redirigera vers des avocats compétents dans ces domaines.</p>
    <div class="contact_informations">
      <div class="address">
        <span>A.</span> 2 bis rue des Deux Communes<br>94300 Vincennes
      </div>
      <div class="mobile">
        <span>M.</span> 06 24 13 21 57
      </div>
      <div class="phone">
        <span>F.</span> 01 84 10 53 40
      </div>
      <div class="email">
        <span>E.</span> contact@bonetavocat.com
      </div>
    </div>
    <div class="footer_bar">
      <div class="legal">
        <a href="#">Mentions légales</a> | <a href="#">Politique de confidentialité</a>
      </div>
      <div class="copyright">
        ©2023 Bonetavocat.com, tous droits réservés
      </div>
    </div>
  </footer>
</body>
</html>