<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yvan BONET, Avocat</title>
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img srcset="img/logo.png 300w, img/logo-large.png 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/logo-large.png">
    </a>
    <nav>
      <ul class="menu">
        <li>Domaines d'interventions
          <ul class="submenu">
            <li>Garde à vue</li>
            <li>Comparution immédiate</li>
            <li>Comparution sur reconnaissance préalable de culpabilité</li>
            <li>Tribunal correctionnel</li>
            <li>Mise en examen</li>
            <li>Détention provisoire</li>
            <li>Aménagement de peine</li>
            <li>Cour d'assises</li>
            <li>Contentieux disciplinaire et adminitratif</li>
            <li>Droit pénitentiaire</li>
          </ul>
        </li>
        <li>Parcours</li>
        <li>Honoraires</li>
        <li>Presse</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>
  <main>