<div class="confiance">
  <p>Le lien de confiance réciproque entre le client et l’avocat étant une condition indispensable à la réussite d’une défense, Yvan BONET n’accepte les différentes sollicitations qu’à l’issue d’un premier entretien.</p>
</div>