<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

        <!-- <link rel="stylesheet" href="css/icon-font.css"> -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

        <title>{{seo_title}}</title>
    </head>
    <body>
        <header id="header" class="header">
          <a href="/" class="logo_container">
            <span class="logo">Yvan Bonet</span>
            <span class="separator">|</span>
            <span class="baseline">Avocat</span>
          </a>

          <input type="checkbox" class="burger__checkbox" id="navi-toggle">
          <label for="navi-toggle" class="burger__button">
              <span class="burger__icon">&nbsp;</span>
          </label>
          <div class="burger__background">&nbsp;</div>
          <nav class="navigation">
            <ul class="menu">
              <li id="menu_item_domaines" class="menu_item submenu {{#equal active_menu 'domaines'}}active{{/equal}}"><a href="/domaines-interventions/garde-a-vue" class="menu_item_link open_submenu">Domaines d'interventions</a>
                <ul class="submenu_items">
                  <li class="submenu_item"><a href="/domaines-interventions/garde-a-vue" class="submenu_item_link">Garde à vue</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/comparution-immediate" class="submenu_item_link">Comparution immédiate</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/comparution-sur-reconnaissance-prealable-de-culpabilite" class="submenu_item_link">Comparution sur reconnaissance préalable de culpabilité</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/tribunal-correctionel" class="submenu_item_link">Tribunal correctionnel</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/mise-en-examen" class="submenu_item_link">Mise en examen</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/detention-provisoire" class="submenu_item_link">Détention provisoire</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/amenagement-de-peine" class="submenu_item_link">Aménagement de peine</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/cour-d-assises" class="submenu_item_link">Cour d'assises</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/droit-penitentiaire" class="submenu_item_link">Droit pénitentiaire</a></li>
                  <li class="submenu_item"><a href="/domaines-interventions/contentieux-disciplinaire-adminitratif" class="submenu_item_link">Contentieux disciplinaire et adminitratif</a></li>
                </ul>
              </li>
              <li id="menu_item_parcours" class="menu_item {{#equal active_menu 'parcours'}}active{{/equal}}"><a href="/parcours" class="menu_item_link">Parcours</a></li>
              <li id="menu_item_honoraires" class="menu_item {{#equal active_menu 'honoraires'}}active{{/equal}}"><a href="/honoraires" class="menu_item_link">Honoraires</a></li>
              <li id="menu_item_presse" class="menu_item {{#equal active_menu 'presse'}}active{{/equal}}"><a href="/presse" class="menu_item_link">Presse</a></li>
              <li id="menu_item_contact" class="menu_item {{#equal active_menu 'contact'}}active{{/equal}}"><a href="/contact" class="menu_item_link">Contact</a></li>
            </ul>
          </nav>
        </header>
        <main class="main">
          {{{body}}}
        </main>
        <footer class="footer">
          <div class="footer_container">
            <div class="footer_logo_container">
              <span class="footer_logo">Yvan Bonet</span>
              <span class="footer_logo_baseline">Avocat</span>
            </div>
            <div class="social_medias">
              <a href="https://www.linkedin.com/in/yvan-bonet-a37391244" class="linkedin_icon" target="_blank">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.72823 1.44509C2.72805 1.82816 2.58415 2.19546 2.32821 2.46619C2.07226 2.73693 1.72522 2.88892 1.36343 2.88873C1.00165 2.88854 0.65475 2.73618 0.399057 2.46517C0.143364 2.19417 -0.000180722 1.82671 1.70761e-07 1.44364C0.000181063 1.06057 0.144073 0.693269 0.400022 0.422534C0.655971 0.151798 1.00301 -0.000191354 1.3648 1.80807e-07C1.72658 0.000191715 2.07348 0.152549 2.32917 0.423555C2.58486 0.694562 2.72841 1.06202 2.72823 1.44509ZM2.76915 3.95828H0.0409235V13H2.76915V3.95828ZM7.07975 3.95828H4.36516V13H7.05247V8.25526C7.05247 5.61208 10.3059 5.36654 10.3059 8.25526V13H13V7.2731C13 2.81723 8.18468 2.98333 7.05247 5.17155L7.07975 3.95828Z" fill="currentColor"/>
                </svg>
              </a>
              <a href="https://twitter.com/YvanBonet" class="twitter_icon" target="_blank">
                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 1.41176C13.4847 1.65882 12.9293 1.82118 12.3537 1.89882C12.9426 1.52471 13.3977 0.931765 13.6119 0.218823C13.0564 0.571765 12.4407 0.818824 11.7916 0.96C11.2629 0.352941 10.5201 0 9.67686 0C8.10421 0 6.81931 1.35529 6.81931 3.02824C6.81931 3.26824 6.84608 3.50118 6.89293 3.72C4.51052 3.59294 2.3891 2.38588 0.977056 0.557647C0.729446 1.00235 0.58891 1.52471 0.58891 2.07529C0.58891 3.12706 1.09082 4.05882 1.86711 4.58824C1.39197 4.58824 0.950287 4.44706 0.562142 4.23529V4.25647C0.562142 5.72471 1.55258 6.95294 2.86424 7.22824C2.44313 7.34979 2.00102 7.36671 1.57266 7.27765C1.75442 7.8794 2.1104 8.40594 2.59055 8.78325C3.0707 9.16055 3.65087 9.36967 4.24952 9.38118C3.23474 10.2285 1.97686 10.6866 0.6826 10.68C0.455067 10.68 0.227533 10.6659 0 10.6376C1.27151 11.4988 2.78394 12 4.40344 12C9.67686 12 12.5746 7.38353 12.5746 3.38118C12.5746 3.24706 12.5746 3.12 12.5679 2.98588C13.13 2.56235 13.6119 2.02588 14 1.41176Z" fill="currentColor"/>
                </svg>
              </a>
            </div>
            <p class="footer_cta">Pour toute urgence pénale, veuillez contacter le <a href="tel:+33624132157">06 24 13 21 57</a></p>
            <p class="info">Pour toute demande en droit du travail, droit des étrangers, droit de la famille ou droit des affaires, le cabinet vous redirigera vers des avocats compétents dans ces domaines.</p>
            <div class="contact_informations">
              <div class="address">
                <div class="colored-letter">A.</div> <div>2 bis rue des Deux Communes<br>94300 Vincennes</div>
              </div>
              <div class="mobile">
                <span class="colored-letter">M.</span> <a href="tel:+33624132157" class="footer-text-link">06 24 13 21 57</a>
              </div>
              <div class="phone">
                <span class="colored-letter">F.</span> <a href="tel:+33184105340" class="footer-text-link">01 84 10 53 40</a>
              </div>
              <div class="email">
                <span class="colored-letter">E.</span> <a href="mailto:contact@bonetavocat.com" class="footer-text-link" target="_blank">contact@bonetavocat.com</a>
              </div>
            </div>
          </div>
          <div class="footer_bar">
            <div class="legal">
              <a href="/mentions-legales">Mentions légales</a> | <a href="/politique-confidentialite">Politique de confidentialité</a>
            </div>
            <div class="copyright">
              ©2023 Bonetavocat.com, tous droits réservés
            </div>
          </div>
        </footer>
        {{#if showCookieConsent}}
          <div id="cookie-consent">
            <p>
              Ce site utilise des cookies pour améliorer votre expérience. Acceptez-vous
              l'utilisation des cookies ?
            </p>
            <form action="/accept-cookies" method="POST">
              <button type="submit" class="accept">Accepter</button>
            </form>
            <form action="/decline-cookies" method="POST">
              <button type="submit" class="decline">Refuser</button>
            </form>
          </div>
        {{/if}}
        <script src="/js/index.js"></script>
        {{#if showGoogleAnalytics}}
          {{{googleAnalyticsCode}}}
        {{/if}}
    </body>
</html>